h2, ul, ul li {
  display: inline;
}

/*Basic type styles*/

span.strike { position: relative; }
span.strike::after {
  border-bottom: 2px solid black;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
strong  { font-weight: 900; }
em      { font-style: italic; }